.list-view, .detail-view {
    overflow: scroll;
    bottom: 120px;
}

nav-bar {
    display: block;
    height: 90px;
    line-height: 90px;
    text-align: center;
    background: rgba(0,0,0,0.8);
    color: #ffffff;
    position: absolute;
    top: 0px;
    width: 100%;
    font-weight: 300;
}

list-items {
    display: block;
    top: 0px;
    -webkit-overflow-scrolling: touch;
    padding-top: 90px;
    width: 100%;
}

.iOS list-items {
    padding-top: 130px;
}

list-item {
    display: block;
    width: 100%;
    height: 360px;
    -webkit-transform: translate3d(0, 0, 0);
}

list-item img {
    width: 100%;
}

movie-title {
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    display: block;
    background: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: 200;
    padding: 20px;
}

.detail-view {
    background-size: cover;
    color: #ffffff;
    font-size: 10px;
}

.pull-to-refresh {
    position: absolute;
    top: 0px;
    display: block;
    height: 140px;
    width: 100%;
    font-size: 30px;
    color: #50B075;
    -webkit-transform-origin: 50% 100%;
    text-align: center;
}

.iOS .pull-to-refresh {
    top: 40px;
}
